<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Media Swirl</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
	<link rel="stylesheet" href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
	<link rel="stylesheet" href="jquery-ui-1.11.4.custom/jquery-ui.min.css">
	<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css"> -->
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script|Arimo|Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="styles/style.css">
</head>
<body>
	<div class="container">
		<div ui-view="header"></div>
		<div ui-view="content"></div>
	</div>
	<div ui-view="footer"></div>

<!-- 		<h1>Media Swirl</h1>
		<h3>Fill this page with media you'll love.</h3>
		<button class="btn btn-default btn-directions" type="button">Directions</button>
		<button class="btn btn-default btn-clear" type="button">Clear All</button>
		<form id="auto-clear-form">
			<label>Auto-Clear:</label>
			<input type="radio" name="autoClear" value="on" checked> On
			<input type="radio" name="autoClear" value="off">Off<br>
		</form> -->
<!-- 		<div class="hidden directions">
			<p>Select any category ('Everything' counts as one!) and make your search. You can search more than one item at a time. If you want to search items of multiple categories at once, make sure 'Everything' is selected.</p>
			<p>While 'Everything' is selected, you can give your search parameters prefixes for clarification if so desired.</p>
			<p>i.e: movie:The Godfather, music:Megadeth, game:Super Mario 64, author:Hemmingway</p>
			<p>Click the 'Add' button on any single result to automatically add it to the searchbar. The recommendations will multiply!</p>
		</div> -->
		<!-- <div class="search-main" ng-controller="SearchCtrl as search">
			<div class="row">
				<div class="col-md-12">
					<form id="search-term">
						<div class="input-group">		
							<div class="input-group-btn">
								<select class="form-control select-cat" id="select-cat">
									<option value="everything">Everything</option>
									<option value="music">Music</option>
									<option value="movie">Movie</option>
									<option value="show">Show</option>
									<option value="game">Game</option>
									<option value="author">Author</option>
									<option value="book">Book</option>
								</select>
							</div>
							<input type="text" id="query" ng-model="search.searchTerm" class="form-control" placeholder="Search for...">
							<span class="input-group-btn">
								<button class="btn btn-default btn-search" ng-click="search.submit()">Go!</button>
							</span>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 output">
					<h3>You searched for:</h3>
					<uib-accordion>
						<uib-accordion-group ng-repeat="item in search.info" heading="{{ item.Name }}">
							<div class="row inner-content">
								<h4 class="result-type">{{item.Type}}</h4>
								<div class="result-blurb">
									<p>{{ item.wTeaser }}</p>
									<span>
										<button class="btn btn-default btn-add" type="button">Add</button>
									</span>
								</div>
							</div>
						</uib-accordion-group>
					</uib-accordion>
					<h3>Results:</h3>
					<uib-accordion>
						<uib-accordion-group ng-repeat="item in search.results" heading="{{ item.Name }}">
							<div class="row inner-content">
								<h4 class="result-type">{{item.Type}}</h4>
								<div class="result-blurb">
									<p>{{ item.wTeaser }}</p>
									<span>
										<button class="btn btn-default btn-add" type="button">Add</button>
									</span>
								</div>
							</div>
						</uib-accordion-group>
					</uib-accordion>					
				</div>
			</div>
		</div>
	</div> -->
<!-- 	<footer>
		<p>By Gregory Federico</p>
		<p>Powered by the <a href="http://www.tastekid.com">TASTEKiD</a> API</p>
	</footer> -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>
	<script src="jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
	<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> -->
	<script src="node_modules/angular/angular.min.js"></script>
	<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script src="./components/libraries.js"></script>
	<script src="./components/routes.js"></script>
	<script src="./partials/search/searchController.js"></script>
</body>
</html>