body {
	background-color: #333;
	font-family: "Bitter";
}

.container {
	max-width: 60em;
	text-align: center;
	margin: 0 auto;
	border: 7px ridge bisque;
	background-color: #D9EDF7;
	border-radius: 1em;
}

h1 {
	font-family: "Kaushan Script";
	font-size: 5em;
	text-transform: uppercase;
	text-shadow: 2px 4px 4px grey;
}

h3 {
	font-family: "Arimo";
	font-size: 2em;
	font-weight: 600;

}

.row {
	margin-bottom: 2em;
}

.results {
	margin-top: 4em;
	text-align: left;
}

.result {
	
}

.hidden {
	display: none;
}

th {
	display: none;
	text-align: center;
	font-size: 1.5em;
	background-color: bisque;
}

